body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #64BEDE;
}

.box {
    padding: 10px;
    width: 20%;
    height: 20%;
    border: 0;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
    background-color: whitesmoke;
}

.imagen {

    margin-top: 10%;
    width: 25%;
}

.email {

    border: 5px 5px 0 0;
    margin-bottom: 2px;

}

.pass {

    border: 5px 5px 0 0;
    
}


.entrar{

    padding: 1em 5em;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 22px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.olvide {

    margin: 6% 0;
    border: 0;
    padding: 1% 2%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #b4b3b3;
    color: #535353;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    }

.olvide:hover {
    color: #AD2501;
}

h1 {

    color: gray;
}

a {
    text-decoration: none;
}

a:hover {
    color: #AD2501;
}